<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Operations with Ejs</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="bg-zinc-900 min-h-screen w-full p-10 text-white">
   <div class="mb-5">
    <a class="text-xs text-blue-600 " href="/">Back to home</a>
   </div>
    <h1 class="text-3xl font-medium tracking-tighter mb-5">All Users</h1>
    <div class="users flex flex-wrap gap-3 ">
         <% if(users.length > 0 ){ %>
            <% users.forEach(function(user){ %>
                <div class="user w-60 p-4 rounded-lg bg-zinc-800">
                    <div class="h-44 bg-zinc-600 rounded-md overflow-hidden">
                        <img class="h-full w-full object-cover" src="<%= user.image %>" alt="">
                    </div>
                    <h1 class="text-lg mt-3"><%= user.name %></h1>
                    <h4 class="text-zinc-600 text-sm"><%= user.email %></h4>
                    <div class="flex gap-3 mt-3">
                        <a class="text-zinc-500 text-sm " href="/edit/<%= user._id %>">Edit User</a>
                        <a class="text-red-500 text-sm" href="/delete/<%= user._id %>">Delete User</a>
                    </div>
                </div>
             <%   }) %>
        <% }else{ %>
         <h3 class="text-zinc-500">No users yet</h3>
       <% } %>
    </div>
  </div>
</body>
</html>
